#/////////////////////////////////////////////////////////////////////////////
# Fireball Projects
#/////////////////////////////////////////////////////////////////////////////

library/
temp/
local/
build/

#//////////////////////////
# VS Code
#//////////////////////////

.vscode/
